rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /guestbook/{document} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['name', 'role', 'message', 'timestamp', 'avatarColor', 'createdAt']);
    }
  }
}
